.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#nav-github {
    display: flex;
    align-items: center;
}
#nav-github:hover svg { fill: white; }

.hide { display: none; }
.not-allowed { cursor: not-allowed; }

.badge.badge-outline.bg-primary {
    border: 1px solid rgb(13, 110, 253) !important;
    background-color: transparent !important;
    color: rgb(13, 110, 253) !important;

    font-size: 0.65em;
    font-weight: 500;
}
.badge.badge-outline.bg-primary:hover {
    background-color: rgb(13, 110, 253) !important;
    color: white !important;
}

.hide { display: none; }
